.idea
*.swp
*.pyc
*CMakeLists.txt.user
application/
build/
corpus
cplusplus-build
python/message_pb2.py
python/model/dataset
python/model/good-models

cplusplus/CMakeCache.txt
cplusplus/CMakeFiles/
cplusplus/Makefile
cplusplus/cmake_install.cmake
cplusplus/compile_commands.json
cplusplus/dataset-generator/CMakeFiles/
cplusplus/dataset-generator/Makefile
cplusplus/dataset-generator/cmake_install.cmake
cplusplus/dataset/CMakeFiles/
cplusplus/dataset/Makefile
cplusplus/dataset/cmake_install.cmake
cplusplus/network-hypo-searcher/CMakeFiles/
cplusplus/network-hypo-searcher/Makefile
cplusplus/network-hypo-searcher/cmake_install.cmake
cplusplus/opencl-connector/CMakeFiles/
cplusplus/opencl-connector/Makefile
cplusplus/opencl-connector/cmake_install.cmake
cplusplus/python-bindings/CMakeFiles/
cplusplus/python-bindings/Makefile
cplusplus/python-bindings/cmake_install.cmake
